
.main{
  
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    padding: 3.5rem;

 

    div{
        font-size: 14px;
        color: var(--blue);
        samp{
            padding: 0.3rem;
            background-color: var( --gray400);
            color: var( --gray200);
          
            border-radius: 999px;
        }

        + div{
          
            margin-left: 10rem;
            color: var(--pruple);
        }
    }
  
} 

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
color: var(--gray300);
padding: 4rem 1.5rem;
gap: 1rem;


border-radius: 8px;
border-top: 1px solid var(--grey400, #333);
img{
    margin-bottom: 1rem;
}

samp{
    
    color: var(--gray400);
}
}

.search{
    left: 14.5rem;
    top:10.813rem;
    position: absolute;
    display: flex;
    height: 54px;
    padding: 1rem;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;

    input{
        background-color: var(--gray500);
        height: 3rem;
        width: 50rem;
        padding: 1rem;
        border: 0;
        border-radius: 8px;
        resize: none;
        line-height: 1.4;
        color: var(--gray300);
        outline:transparent ;
        box-shadow:0 0 0 2px var(--gray700);

       
    }
    input:hover{
        box-shadow:0 0 0 2px var(--prupleDrark);
        color: var(--gray100);
    }
    
    button{
        margin-left: 0.5rem;
        background-color: var(--blueDark);
        border-radius: 8px;
        width: 90px;
        height: 52px;
        border: 0;
        cursor: pointer;
        justify-content: center;
        align-items: center;
     display: flex;
     color: var(--gray100);
     img{
        margin-left: 0.5rem;
     }

    }
    button:hover{
        
        background-color: var(--blue);
    }

}

@media(max-width: 1024px){

    .search{
        left: 4rem;
         top:10.813rem;
        padding: 1rem;
      
    }
  }
@media(max-width: 768px){

    .search{
        left: 1rem;
        top:10.813rem;
        padding: 0.5rem;
        width: 53rem;

      
    }
  }

@media(max-width: 576px){

    .search{
        left: 1rem;
        top:10.813rem;
        padding: 0.5rem;
        width: 29rem;
        button{
            margin-left: 0.1rem;

            img{
                margin-left: 0.3rem;
             }
        }
    }
  
}
@media(max-width: 375px){

    .search{
        left: 0rem;
        top:10.813rem;
        padding: 0.5rem;
        width: 27rem;
      
    }
    button{
        margin-left: 0.5rem;
    }
  
}